.loja-header{

}

.loja-header h1{
    font-size: 48px;
    margin-bottom: 32px;
}

ul{
    gap: 48px;
    display: flex;
    flex-wrap: wrap;
}

li{
    width: fit-content;
    list-style: none;
    color: white;
    font-size: 14px;
}